@import 'footer';
@import 'variables';
@import 'navbar';
@import 'front-features';

body {
  background-color: $ncf-light-blue;
}

a {
  color: white;
}

.dark-links {
  a {
    color: $ncf-dark-blue;
  }
}

